@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header {
    text-align: center;
    margin-bottom: 10px;
}

.banner {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

.texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* sormbra para para texto */
}
.container{
    margin-top: 50px;
display: flex;
justify-content: center;
}

.melhor{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.fundo{
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;     
    background-position: center;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #3DA4A8;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.nome{
    padding-left: 50;
    padding-top: 50px;
    }

.logoimg{
    height: 130px;
    width: 130px;
}

.fundos{
background-color: yellowgreen;
}

.botao {
    justify-content: center;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.botao .boton {
    color: white;
    background-color: yellowgreen;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao .boton:hover {
    background-color: yellowgreen;
    transform: scale(1.05);
}